.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 20px;
}

.input {
    padding-left: 1rem;
    font-size: medium;
}

.card {
    min-width: 500px;
    height: 15rem;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-left: 1.2rem;
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-right: 1.5rem;

}

.containerBox1 {
    display: flex;
    flex-wrap: nowrap;
    background-color: #eee;
}

.buttonPosition {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.location {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.inputfield p {
    margin: 0 5px;
}

@media only screen and (max-width: 786px) {
    .card {
        min-width: 50%;
        margin-right: 2rem;
    }
}